<html>
  <head>
    <title>Authorization Page</title>
  </head>
  <body class="font">
    <h2>Client Application</h2>
    {{.client_name}}

    <h2>Requested Permissions</h2>
    {{ range $scope := .scopes }}
    <ol>
      <div>{{ $scope }}</div>
    </ol>
    {{ end }}

    <h2>Approve?</h2>
    <form method="post" action="/decision">
      <input type="text" name="login_name" placeholder="Login Name" /><br />
      <input type="password" name="password" placeholder="Password" /><br />
      <button type="submit" name="approved" value="true">Approve</button>
      <button type="submit" name="denied" value="true">Deny</button>
    </form>
  </body>
</html>
